body {
    text-align: center;
    
}

.wrapper {
    display: flex;
    width: 800px;
    margin: 0, auto;
    
    
}

.calculator {
    position: relative;
    align-content: center;
    align-self: auto;
    justify-content: center;
    display:flex;
    flex-direction: column;
    
}

.btn, .opbtn, .clrbtn {
    flex-basis: 0;
    border: solid 1px;
    font-family: monospace, sans-serif;
    color: white;
    background-color: grey;
    padding: 20px;
    flex: 1;
    flex-shrink: 0;
    flex-grow: 0;
    
}

#disp {
    flex: 2;
    font-family: orbitron;
    background-color: black;
    color: green;
    flex-shrink: 0;
    height: 30px;
    
}

.topRow {
    display: flex;
    order: 1;
}

.secondRow {
    display: flex;
    order: 2;
}

.thirdRow {
    display: flex;
    order: 3;
}

.fourthRow {
    display: flex;
    order: 4;
}

.fifthRow {
    display: flex;
    order: 5;
}

.equal {
    order: 6;
}